<div class = "pastebin">
  <h2> {{title}}</h2>
<table  id="table" class="table table-hover table-striped">
  <thead>
    <tr>
        <th> id </th>
        <th> Title </th>
        <th> Language </th>
        <th> Code </th>
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let paste of pastebin">
          <td> {{paste.id}} </td>
          <td> {{paste.title}} </td>
          <td> {{paste.language}} </td>
          <td> View code </td>
  </tbody>
  <!--- <app-add-paste (addPasteSuccess)= 'onAddPaste($event)'> </app-add-paste> -->
</table>
</div>
